@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO 120 Kedy Akademi Bilgi ve Destek Hatti
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Bilgi Teknolojileri ve İletişim Kurumu Başakşehir/İstanbul
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            destek@kedyakademi.gov.tr
        </p>

    </div>
</div>