@model CategoryDtoForUpdate

<div class="text-center">
    <div class="display-6">Update</div>
</div>

<form method="post" asp-action="Update">

    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group my-3">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">
        Save
    </button>

</form>