@model IEnumerable<IdentityUser>

<div class="text-center my-5">
    <div class="display-6">Users</div>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(IdentityUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>-</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@user.UserName" >Edit</a>
                        <a class="btn btn btn-info rounded-0" asp-action="ResetPassword" asp-route-id="@user.UserName">
                            <i class="fa fa-solid fa-edit"></i>
                            Reset Password</a>
                        <a class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>